/*Meus css */
h1,h2,h3,h4,h5,h6{
    font-weight: 700;

}
.title{
    text-transform: uppercase;
}
.sub-title{
    color: var(--medium);
    font-weight: 400;
}
.button{
    text-transform: lowercase;
    font-family: 500;
    padding: auto 1.4rem;
}

.button-primary{
    background-color: var(--primary);
    border-color: var(--primary);
    color: white;
}
.button-primary:hover , .button-primary-outline:hover{
    color: white;
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
}
.button-primary-outline{
    color: var(--primary);
    border-color: var(--primary);
}

